<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Reset password</title>
  </head>
  <body>
    <p>Hi {{username}},</p>
    <p>You requested a password reset for your account.</p>
    <p>Please use the following token to reset your password:</p>
    <p>{{token}}</p>
    <p>Please follow this link to set a new password:</p>
    <p>
      <a
        href="http://localhost:8000/docs#/auth/change_password_api_auth_change_password__token__get"
      >
        Reset Password
      </a>
    </p>
    <p>If you did not sign up for our service, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>
  </body>
</html>
